[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "forestdynR"]
	path = forestdynR
	url = https://github.com/higuchip/forestdynr
